.exam-sidebar-content{
    text-align: center;
}
.question-selector-div{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.question-selector-div div:hover {
    cursor: pointer;
}

.exam-sidebar-content .submit-btn{
    width : 30%;
    border-radius: 25px;
    margin: 1rem;
    overflow-wrap: break-word;
}