.create {
    flex-grow: 5;
    width: 30%;
    height: 100%;
    display: flex;
    flex-direction: row;
    background-image: linear-gradient(to bottom right, rgb(255, 179, 58) , rgba(59, 140, 165, 0.773));
    /* background-color: rgb(228, 176, 108); */
}

.create-form{
    display: flex;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
    align-items: center;
    font-size: 1rem;
    
}

.create-div{
  width: 100%;
  text-align: center;
  padding: 2rem;
}

.create-div label{
  margin : 0.5rem;
  width: 80%;
}

.create-div .btn
{
    width: 25%;
    font-size: 80%;
}

.numInput
{
    width: 10%;
}

.mcq-input{

  display: flex;
  flex-direction: column;
  font-size: 1.2rem;
  
}

.mcq-input label{
  width: 100%;
}

.mcq-input textarea{
  width : 100%;
}

.create .submit-btn{
  margin: 2rem;
  margin-left: auto;
  margin-right: auto;
  overflow-wrap: break-word;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}