.create {
    flex-grow: 5;
    width: 70%;
    height: 100%;
    display: flex;
    flex-direction: row;
}

.create-form{
    display: flex;
    flex-direction: column;
}

.create-div .btn
{
    width: 40%;
}