.question-paper{
    display: flex;
    flex-direction: column;
    text-align: center;
    /* align-items: center; */
    font-size: 1.3rem;
    background-color: white;
    /* background-image: url("/public/bg_img_6.jpg"); */
}
