.App {
  /* background-color: rgb(241, 87, 87); */
  /* display: flex; */
  width: 100vw;
  height: 100vh;

}

.app-div {
  background-color: rgb(241, 87, 87);
  padding: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
}