.App {
  /* background-color: rgb(241, 87, 87); */
  /* display: flex; */
  width: 100vw;
  height: 100vh;
  /* background-color: rgb(228, 176, 108); */
  /* background-image: url("/public/bg_img_5.png") */
  /* background-image: linear-gradient(to bottom right, rgb(255, 179, 58) , rgba(59, 140, 165, 0.773)); */
}

.app-div {
  background-color: rgb(241, 87, 87);
  padding: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
}