.question-list{
    
}



.qp-code-box{
    margin : 1rem;
    display: flex;
    justify-content: space-between;
    font-size: 0.8rem;
    /* padding : 0.3rem; */
}

.qp-code{
    background-color: black;
    color : white;
    padding : 0.3rem;
    font-family: 'Orbitron', sans-serif;
}

.code-copy-icon{
    font-size: 1.5rem;
    cursor : pointer;
    margin-left : 0.2rem;
}